# OS files
.DS_Store
Thumbs.db

# Dependencies
/vendor/
node_modules/

# Composer lock (modules should not lock dependencies)
composer.lock

# Silverstripe manifest exclude (for local dev in projects)
_manifest_exclude

# IDE & editor
/.vscode/
/.idea/
*.log